<section id="about">

 <div class="row about-wrap">
   <div class="col-full">

     <div class="about-profile-bg"></div>

     <div class="intro">
       <h3 class="animate-this">Meine Motivation</h3>
       <p class="lead animate-this">Beim Fotografieren interessiere ich mich für die Person und strebe danach den Charakter und das Besondere jeder Person einzufangen.</p>
     </div>

   </div>
 </div>

</section>
