 <section id="contact">

    <div class="overlay"></div>

  <div class="row narrow section-intro">
    <div class="col-twelve">
      <h3>Kontakt</h3>
      <h1>Schreib mir eine Nachricht.</h1>

      <p class="lead">Ich freue mich über deine Frage, Anregung oder Idee für ein Shooting.</p>

      <p>
            Jochen Bieler<br>
            Koppenstraße 27<br>
            10243 Berlin
          </p>
    </div>

    <a class="button stroke" href="mailto:{{ site.email | encode_email }}">
      E-Mail
    </a>

  </div>


</section>
