<!-- footer
 ================================================== -->
<footer>
    <div class="footer-main">

    <div class="row">

        <div class="col-three tab-full footer-social">

          <h4 class="h05">Rechtliches</h4>

          <ul class="list-links">
          <li><a href="legal-notice.html">Impressum</a></li>
          <li><a href="privacy-policy.html">Datenschutzerklärung</a></li>
          <li><a href="third-party-software">Drittanbietersoftware</a></li>
        </ul>

        </div> <!-- end footer-social -->

      </div> <!-- end row -->

  </div> <!-- end footer-main -->

  <div class="footer-bottom">

      <div class="row">

        <div class="col-twelve">
          <div class="copyright">
            <span>© Jochen Bieler 2019</span>
            <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
           </div>
        </div>

      </div>

    </div> <!-- end footer-bottom -->

    <div id="go-top">
     <a class="smoothscroll" title="Back to Top" href="#top">
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
     </a>
  </div>
 </footer>
