<!-- header
 ================================================== -->
 <header>

  <div class="header-logo">
      <a href="index.html">Infinity</a>
   </div>

  <a id="header-menu-trigger" href="#0">
    <span class="header-menu-text">Menü</span>
      <span class="header-menu-icon"></span>
  </a>

  <nav id="menu-nav-wrap">

    <a href="#0" class="close-button" title="close"><span>Close</span></a>

    <h3>Wähle aus</h3>

    <ul class="nav-list">
      <li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
      <li><a class="smoothscroll" href="#about" title="">Meine Motivation</a></li>
      <li><a class="smoothscroll" href="#services" title="">Shootings</a></li>
      <li><a class="smoothscroll" href="#portfolio" title="">Portfolio</a></li>
      <li><a class="smoothscroll" href="#contact" title="">Kontakt</a></li>
    </ul>

    <ul class="header-social-list">
         <li>
          <a href="https://www.instagram.com/jochenbielerphotography"><i class="fa fa-instagram"></i></a>
         </li>
      </ul>

  </nav>  <!-- end #menu-nav-wrap -->

</header> <!-- end header -->
