
<section id="home">

 <div class="overlay"></div>

 <div class="home-content-table">
    <div class="home-content-tablecell">
     <div class="row">
       <div class="col-twelve">

             <h3 class="animate-intro">{{site.hero-subtitle}}</h3>
             <h1 class="animate-intro">
           {{site.hero-title}}
             </h1>

             <div class="more animate-intro">
               <a class="smoothscroll button stroke" href="#about">
                 Erfahre mehr
               </a>
             </div>

         </div> <!-- end col-twelve -->
     </div> <!-- end row -->
    </div> <!-- end home-content-tablecell -->
 </div> <!-- end home-content-table -->

 <ul class="home-social-list">
     <li class="animate-intro">
         <a href="https://www.instagram.com/jochenbielerphotography"><i class="fa fa-instagram"></i></a>
     </li>
  </ul> <!-- end home-social-list -->

 <div class="scrolldown">
   <a href="#about" class="scroll-icon smoothscroll">
     Scrolle herunter
     <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
   </a>
 </div>

</section>
