{% if page.portfolio %}
   <section id="portfolio">

   	<div class="intro-wrap">

   		<div class="row narrow section-intro with-bottom-sep animate-this">
	   		<div class="col-twelve">
	   			<h3>{{page.portfolio.title}}</h3>
		   		<h1>{{page.portfolio.subtitle}}</h1>

		   		<p class="lead">{{page.portfolio.intro}}</p>
	   		</div>
	   	</div> <!-- end row section-intro -->

   	</div> <!-- end intro-wrap -->

   	<div class="row portfolio-content">
   		<div class="col-twelve">
   			<div id="folio-wrap" class="bricks-wrapper">
          {% for portfolio-item in page.portfolio.list %}
   				<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="{{portfolio-item.image}}" data-sub-html="#{{ forloop.index }}" >
	                  <a href="#" class="overlay">
	                  	<img src="{{portfolio-item.image}}" alt="">
	                     <div class="item-text">
	                     	<span class="folio-types"></span>
		     					   <h3 class="folio-title"></h3>
		     					</div>
	                  </a>
	               </div> <!-- end item-wrap -->
						<div id="{{ forloop.index }}" class='hide'>
					  </div>
	        		</div> <!-- end folio-item -->
          {% endfor %}

   			</div> <!-- end folio-wrap -->
   		</div> <!-- end twelve -->
   	</div> <!-- end portfolio-content -->

   </section>  <!-- end portfolio -->
{% endif %}
