{{% if page.services %}}
<section id="services">

 <div class="overlay"></div>
 <div class="gradient-overlay"></div>

 <div class="row narrow section-intro with-bottom-sep animate-this">
   <div class="col-full">
       <h3>{{page.services.subtitle}}</h3>
        <h1>{{page.services.title}}</h1>
        <p class="lead">{{page.services.intro}}</p>
    </div>
 </div>

 <div class="row services-content">
   <div class="services-list block-1-3 block-tab-full group">
     {% for service in page.services.list %}
       <div class="bgrid service-item animate-this">
         <span class="icon"><i>{{ forloop.index }}</i></span>
           <div class="service-content">
             <h3 class="h05">{{ service.title }}</h3>
             <p>{{ service.description }}</p>
           </div>
         </div>
     {% endfor %}
   </div>
 </div>
</section>
{{ endif }}
