{% if page.testimonials %}
   <section id="testimonials">

   	<div class="row">
   		<div class="col-twelve">
   			<h2 class="animate-this">{{page.testimonials.title}}</h2>
   		</div>
   	</div>

      <div class="row flex-container">

         <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

              {% for testimonial in page.testimonials.list %}
               <li>
                  <p>{{testimonial.review}}</p>

                  <div class="testimonial-author">
                    	<div class="author-info">
                    		{{testimonial.name}}
                    	</div>
                  </div>
             	</li> <!-- end slide -->
              {% endfor %}

            </ul> <!-- end slides -->

         </div> <!-- end testimonial-slider -->

      </div> <!-- end flex-container -->

   </section> <!-- end testimonials -->
{% endif %}
