<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="{{ page.lang | default: site.lang | default: "en" }}"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="{{ page.lang | default: site.lang | default: "en" }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}"> <!--<![endif]-->
<head>
  {%- include head.html -%}
</head>

<body id="top" onload="window.location='https://jochenbieler.de'">

  <noscript><meta http-equiv="refresh" content="0; url=https://jochenbieler.de"></noscript>

  {%- include header.html -%}

  {%- include hero.html -%}

  {%- include about.html -%}

  {%- include services.html -%}

  {%- include portfolio.html -%}

  {%- include testimonials.html -%}

  <!-- {%- include clients.html -%} -->

  {%- include contact.html -%}

  {{ content }}

  {%- include footer.html -%}

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="/js/jquery-2.1.3.min.js"></script>
   <script src="/js/plugins.js"></script>
   <script src="/js/main.js"></script>

   <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "transparent",
      "text": "#f1d600",
      "border": "#f1d600"
    }
  },
  "content": {
    "message": "Diese Website benutzt Cookies um das bestmögliche Erlebnis bieten zu können.",
    "dismiss": "Alles klar!",
    "link": "Erfahre mehr"
  }
})});
</script>

</body>

</html>
