<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="{{ page.lang | default: site.lang | default: "en" }}"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="{{ page.lang | default: site.lang | default: "en" }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}"> <!--<![endif]-->
<head>
  {%- include head.html -%}
</head>

<body id="top">

  <section id="about">

    <div class="row">
      <a class="button stroke" href="/">
        Zurück zur Hauptseite
      </a>
    </div>

    <br/><br/>

   <div class="row about-wrap">
     <div class="col-full">
       {{ content }}
    </div>
  </div>

  </section>

  {%- include footer.html -%}

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="/js/jquery-2.1.3.min.js"></script>
   <script src="/js/plugins.js"></script>
   <script src="/js/main.js"></script>

</body>

</html>
